* {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: #D9D9D9;
}

/* Gerais */

.flex {
    display: flex;
}

.grow0{
    flex-grow: 0;
}

.grow1{
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.deco-none {
    text-decoration: none;

}

.white {
    color: white;
}

.w80-h40 {
    width: 80px;
    height: 40px;
}

.h75 {
    height: 75px;
}

.w450{
    width: 450px;
}

.h150{
    height: 150px;
}

.w250{
    width: 260px;
}

.h35{
    height: 35px;
}

.w45p{
    width: 45%;
}

.w350{
    width: 350px;
}

.h400{
    height: 400px;
}

.small {
    font-size: 16px;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.mg-lr-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mg-tb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-green {
    border: 2px solid #2da63f;
    border-radius: 5px;
}

.mrg-0auto {
    margin: 0 auto;
}

.font-2em {
    font-size: 2em;
}

.font-1-5em{
    font-size: 1.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.green-t{
    color: #2da63f;
}

.center-evenly {
    align-items: center;
    justify-content: space-evenly;
}

.txt-j{
    text-align: justify;
}

.txt-c{
    text-align: center;
}

.bdrad-15{
    border-radius: 15px;
}

.bdrad-5{
    border-radius: 5px;
}

.bkg-gr{
    background-color: rgb(199, 194, 194);
}

/* header-principal */
.header {
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #0D0D0D;
}

nav {
    width: 90%;
}

.right a {
    padding: 15px;
    font-size: 1.4em;
    color: white;
}

h1 {
    border-top: 2px solid #2da63f;
    font-size: 2em;
}

.logo{
    height: 20px;
}

.green-h:hover {
    color: #2da63f;
}

/* header lateral */
.lateral-header {
    width: 300px;
    height: 100vh;
    background-color: #0D0D0D;
}

/* footer-principal */
footer {
    align-items: center;
    background-color: #0D0D0D;
    height: 100px;
}

.roda-pé {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-footer {
    text-align: center;
    width: 190px;
}

.linha-vertical {
    margin: 0 5px 0 5px;
    height: 100px;
    border-right: 2px solid #2da63f;
}

.linha-roizontal {
    position: relative;
    bottom: 95px;
    width: 100%;
    border: 1.5px solid #2da63f;
}

/* index-main */

.logo-90{
    transform: rotate(90deg);
}